body {
    background-color: #2c3e50;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    flex-direction: column;
    /* Zabrání přibližování (zoom) na mobilu při klikání */
    touch-action: none; 
    user-select: none;
}

canvas {
    border: 4px solid #ecf0f1;
    background-color: #87CEEB;
    image-rendering: pixelated;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
    /* Aby se hra vešla na menší displeje */
    max-width: 95%; 
    height: auto;
}

/* Styl pro dotyková tlačítka */
#controls {
    display: flex;
    gap: 40px; /* Mezera mezi tlačítky */
    margin-top: 20px;
    margin-bottom: 10px;
}

.btn {
    width: 80px;
    height: 60px;
    background-color: #e67e22;
    border: 4px solid #d35400;
    border-radius: 10px;
    font-size: 30px;
    color: white;
    cursor: pointer;
    /* Zabrání označování textu při rychlém klikání */
    user-select: none; 
    -webkit-user-select: none;
}

.btn:active {
    background-color: #d35400; /* Ztmavnutí při stisku */
    transform: translateY(2px);
}

#info {
    text-align: center;
    font-size: 14px;
}
